<div class="row">
<div class="col-md-8 col-md-offset-2">
  <%= bootstrap_form_for @node, url: edit_course_node_path, layout: :horizontal do |f| %>
    <fieldset><legend><h1 class="text-center">Add new 1st score node</h1></legend></fieldset>
    <%= f.text_field :name %>
    <%= f.number_field :weight %>
    <%= f.hidden_field :father_id, value: '-1' %>
    <%= f.hidden_field :course_id, value: params[:course_id] %>
    <%= f.hidden_field :id, value: @node.id %>
    <hr>

    <button type="button" id="new-item" class="btn btn-primary btn-lg">New Sub Item</button>


    <hr>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Weight</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if @sub_item %>
            <% @sub_item.each_with_index do |sheet, index| %>
              <tr>
              <td><%= index %></td>
              <td><%= link_to sheet.name, edit_course_node_path(course_id: sheet.course_id, id: sheet.id) %></td>
              <td><%= sheet.weight %></td>
              <td>
                <%= link_to 'view', course_node_path(course_id: sheet.course_id, id: sheet.id) %>
                <%= link_to 'edit', edit_course_node_path(course_id: sheet.course_id, id: sheet.id) %>
                <%= link_to 'delete', course_node_path(course_id: sheet.course_id, id: sheet.id), method: 'delete' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      
    <hr>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

<div id="for-form"></div>

</div>


