<h1>New Node</h1>

<%= form_for [:course, @node] do |f| %>
  <%= f.text_field :name %>
  <%= f.number_field :weight %>
  <%= f.hidden_field :father_id, value: '-1' %>
  <%= f.hidden_field :course_id, value: params[:course_id] %>
  <%= f.submit %>
<% end %>
