<tr>
  <td><%= user.student_id %></td>
  <td><%= user.name %></td>
  <td><%= user.nickname %></td>
  <td><%= user.final(course_id) %></td>
  <td><%= link_to 'Regrade to adjust', grade_course_user_path(course_id: course_id, id: user.id) %></td>
</tr>