<h1>New Student</h1>

<%= form_for [:course, @user] do |f| %>
  <p>name</p>
  <%= f.text_field :name %>
  <br />
  <p>nickname</p>
  <%= f.text_field :nickname %>
  <br />
  <p>studentid</p>
  <%= f.number_field :student_id %>
  <br />

  <%= f.submit %>
<% end %>
